body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #5C94FC, #87CEEB);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.game-container {
    background: #FFF;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* User Interface */
.ui {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 800px;
}

#game-area {
    position: relative;
    width: 800px;
    height: 400px;
    background: linear-gradient(to bottom, #5C94FC 80%, #228B22 80%, #228B22 100%);
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    overflow: hidden;
}

#mario {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('https://i.imgur.com/Wb1qfhK.png');
    z-index: 100;
}

#mario.big {
    width: 40px;
    height: 40px;
    background-image: url('https://i.imgur.com/Wb1qfhK.png');
}

.platform {
    position: absolute;
    background-repeat: repeat;
    background-size: 20px 20px;
}

.platform.ground {
    position: absolute;
    background-image: url('https://i.imgur.com/pogC9x5.png');
    background-repeat: repeat;
    background-size: 20px 20px;
}

.platform.floating {
    position: absolute;
    background-image: url('https://i.imgur.com/M6rwarW.png');
    background-repeat: repeat;
    background-size: 20px 20px;
}

.platform.blue {
    position: absolute;
    background-image: url('https://i.imgur.com/fVscIbn.png');
    background-repeat: repeat;
    background-size: 20px 20px;
}

.enemy {
    position: absolute;
}

.enemy.brown {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/KP03fR9.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.enemy.purple {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/SvV4ueD.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.coin {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/wbKxhcd.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    animation: coinSpin 1s linear infinite;
}

/* Coin Spin Animation */
@keyframes coinSpin {
    0% { 
        transform: rotateY(0deg); 
    }
    100% { 
        transform: rotateY(360deg); 
    }
}

.surprise-block {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/gesQ1KP.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}    


.surprise-block.hit {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/bdrLpi6.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}  

.pipe {
    position: absolute;
    width: 40px;
    height: 40px;
}


.pipe.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/ReTPiWY.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.pipe.top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/hj2GK4n.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.pipe.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/c1cYSbt.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.pipe.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('https://i.imgur.com/nqQ79eI.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.controls {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

#game-over {
    position: absolute;
    top: 50%;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    display: none;
}

.game-over.show {
    display: block;
}

#restart-button {
    background-color: #ff6B6B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin:10px;
}

#restart-button:hover {
    background-color: #ff4f4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin:10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

